body {
	padding: 0;
	margin: 0;
	font-size: 13px;
	font-family: Verdana, sans-serif;
}

a {
	color: #008;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

.h5o-close {
	position: absolute;
	top: 15px;
	right: 15px;
	padding: 5px;
	border: 1px #008 solid;
	color: #00f;
	background-color: #eef;
	cursor: pointer;
}
.h5o-close:hover {
	color: #008;
	background-color: rgba(239,239,255,.7);
}

.h5o-container {
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
	padding: 15px 60px 15px 15px;
}

.h5o-container ol {
	margin: 0;
	padding: 0;
}

.h5o-container li {
	list-style: decimal outside;
	margin-left: 20px;
}
